{require_otp_vsn, "21|22|23|24|25"}.

{deps, [
  {rabbit_common, ".*", {git, "https://github.com/themaverik/rabbitmq-common", {branch, "v3.8.x"}}},
  {credentials_obfuscation, ".*", {git, "https://github.com/rabbitmq/credentials-obfuscation", {tag, "v3.4.0"}}}
]}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_unused_import
]}.